/*
 * Header menu bar
 */

.app-bar .utilisateur {
    color: #404040;
    padding-left: 5px;
    padding-right: 5px;
}
.app-bar .utilisateur p {
    font-weight: 500;
    line-height: 1px;
}
@media (max-width: 620px) {
    .app-bar .utilisateur p {
        display: none;
    }
}
main {
    padding-bottom: 20px;
}
.center,
th,
td {
    text-align: center;
}
th,
td {
    vertical-align: middle !important;
}
th.libelle {
    width: 684px;
}
.dataTable th {
    cursor: pointer;
}
.navbar {
    margin-bottom: 0 !important;
}
.dataTables_filter.alert.alert-info {
    display: block;
    margin: 20px 0 15px 0;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 0;
    padding-top: 5px;
    width: 95%;
}
.dataTables_filter.alert-info input[type="search"] {
    border: 2px solid #DAE1E5;
    border-radius: 6px;
    box-shadow: none;
    color: #34495e;
    font-family: Lato, Helvetica, Arial, sans-serif;
    line-height: 1.467;
    padding: 5px 10px;
}