/* CSS commun à l'ensemble des pages */
html {
	position: relative;
	min-height: 100%;
}

body {
    background: url('../img/bg4.jpg') no-repeat center center fixed;
    /*background-color: #F2F2F2;*/
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 0 40px; /* bottom = footer height */
    padding: 0 0 40px;
	overflow-x:hidden;
}

.page-header {
	border: none;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
}
.panel-default {
    opacity: 0.9;
    margin-top: 30px;
}
.form-group.last {
    margin-bottom: 0px;
}
a, #footerText span {
    cursor: pointer;
}
#bs-example-navbar-collapse-1 ul li {
    text-align: left;
}

#headerProjet {
    z-index: 200!important;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #FBFBFB;
    z-index: 200!important;
    border: 1px solid transparent;
    box-shadow: inset -2px -2px 5px 0 rgba(255,255,255,.15),-2px -2px 5px 0 rgba(0,0,0,.075);
}

#footerText {
    background-color: #FBFBFB;
}

table {
    background-color: white !important;
	
}

@media (max-width: 1200px) {
  #calendarContainer {
    padding: 0!important;
  }
}

#aAccueil, #aConfig, #aAide {
    padding-right: 0!important;
}

#cal-day-box .day-event {
    position: absolute!important;
    margin-left: 20px!important;
}

.cal-hours {
    display: none;
}

.table-striped>tbody>tr.cumul:nth-child(odd) >td,.cumul {
	background-color: #D6EFF9;
}

.date_column {
	width: 100px;
}

/** FOOTER */

#logoResponsive {
	width: 40px;
	height: auto;
}
