myPolice  { 
	font-style: italic;
	font-weight: bold;
	font-size: 1em;
	font-family: "Times New Roman", serif; 
	}


TD.typeCR      	{ font-size:80%; text-align:center; color:#000000; border: 5px outset #FFFFFF; background-color: #FFE6FF; }
TD.typeTD  		{ font-size:80%; text-align:center; color:#000000; border: 5px outset #FFFFFF; background-color: #E6FFFF; }
TD.typeTP   		{ font-size:80%; text-align:center; color:#000000; border: 5px outset #FFFFFF; background-color: #E6FFE6; }
TD.typePRO   		{ font-size:80%; text-align:center; color:#000000; border: 3px outset #FFFFFF; background-color: rgb(255,200,80); }
TD.typeSEMI   	{ font-size:80%; text-align:center; color:#000000; border: 3px outset #FFFFFF; background-color: rgb(255,200,80); }
TD.typeSTAGE   	{ font-size:80%; text-align:center; color:#000000; border: 3px outset #FFFFFF; background-color: rgb(255,200,80); }
TD.typeADMIN   	{ font-size:80%; text-align:center; color:#000000; border: 3px outset #FFFFFF; background-color: rgb(255,200,80); }
TD.typeJURY   	{ font-size:80%; text-align:center; color:#000000; border: 3px outset #FFFFFF; background-color: rgb(255,200,80); }
TD.typeDS   		{ font-size:80%; text-align:center; color:#000000; border: 3px outset #FFFFFF; background-color: #FF9997; }
TD.typeRESER   	{ font-size:80%; text-align:center; color:#000000; border: 3px outset #FFFFFF; background-color: #FFFFE0 }

TD.typeAJOUT   	{ font-size:80%; text-align:center; color:#000000; background:CYAN; }
TD.typeVIDE		{ font-size:80%; }

TH.daylabel   			{ font-size:120%; text-align:center; color:#0000CC;}
SPAN.varheures 	         	{ color:#0000CC; text-decoration:none;}
SPAN.couleurSALLES 		{ color:#FF00FF; text-decoration:none;}
SPAN.couleurMATERIELS 	{ color:#FF0000; text-decoration:none;}
SPAN.couleurPROFS 		{ color:#FF0000; text-decoration:none;}
SPAN.couleurGROUPES 		{ color:#009900; text-decoration:none;}
TH.varheures   			{ font-size:120%; text-align:center;color:#0000CC;}

body {overflow:scroll;}