.center-table {
    margin: 0 auto !important;
    float: none !important;
    text-align: center;
    background-color: white;
}
.center-table tr th {
    text-align: center;
}
#thDroitTable {
    text-align: left;
}