/* CSS de la page de connexion */

#teachButtons,
#studyButtons {
    padding: 10px;
}
#menuHeader,
#menuHeaderNom {
    text-align: left;
}
#bs-example-navbar-collapse-1 ul li {
    text-align: left;
}
.pull-right form-inline {
    width: 100%;
}
.myCheck {
    margin: 0 0 0;
}
#myTab {
    float: none !important;
    margin: 0 auto !important;
}