#filtreAnnee {
    height: 40px;
    max-height: 40px;
}
#filtreToday {
    height: 40px;
    max-height: 40px;
}
#h3MoisAnnee {
    height: 40px;
    max-height: 40px;
    text-align: center;
}
#h3MoisAnnee h3,
h4 {
    /*zorder: 1px solid red;*/
    
    height: 38px;
    max-height: 38px;
    display: inline;
}
#groupeFiltre {
    display: inline-block;
    text-align: center;
}
#allFiltre {
    display: inline-block;
}
#bs-example-navbar-collapse-1 ul li a {
    cursor: pointer;
}
#petitH4 {
    font-size: 14px;
}
#calendar {
    background-color: #F2F2F2;
    margin-top:15px;
}
.page-header {
    padding-bottom: 0px !important;
    margin: 0px 0 0px !important;
}
@media (min-width: 603px) and (max-width: 1199px) {
    #rowFiltreLeft {
        width: 50% !important;
        float: left !important;
    }
}
@media (min-width: 603px) and (max-width: 1199px) {
    #rowFiltreRight {
        width: 50% !important;
        float: right !important;
    }
}

/* Les légendes */

#accordion {
	margin-bottom: 40px;
}

.cercleLegende {
    border-radius:50%;
    width:20px;
    height:20px;
    border:2px solid white;
}

#cercleCM {
    background:#1C85EB;
}
#cercleTD {
    background:#D1AD07;
}
#cercleTP {
    background:#005800;
}
#cercleDS {
    background:#9F1E1E;
}
#cercleADM {
    background:#7A007A;
}
#cercleTUT {
    background:#1A1A1A;
}
#cerclePRO {
    background:#BBBBBB;
}

#calendarLegende .col-md-2 .cercleLegende {
    position: absolute;
}
#calendarLegende .col-md-2 span {
    position: relative;
    text-align: left;
    width: 90px;
}

#calendarLegende .col-md-2 {
    padding-top: 5px;
}
.textLegende {
    margin-left: 30px;
    text-align: left;
}
#textLegende {
    text-align: left;
    padding-bottom: 10px;
    padding-left: 15px;
}

#collapseTitleLegende {
    text-decoration: none;
}
#headingOne:hover {
    cursor: pointer;
}

/** Panel filtres**/
#panelFilter {
    height: 100%;
    width: 300px;
    z-index: 100!important;
    background: #FAFAFA;
    position: absolute;
    top: 0;
    left: -500;
    padding: 15px 0 15px 0;
}

#monPlanning {
   
    padding: 8px 90px 8px 90px;
    margin: auto;
    margin-top: 50px;
}

#premierGroupeFiltre {
    margin-top: 15px;
}